* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 2000px;
}

header {
  height: 100px;
  background-color: rgb(83, 13, 13);
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  div.logo {
    svg.burger {
      fill: white;
      width: 55px;
      height: 55px;
    }
  }

  div.navigation {
    position: relative;
    svg.bars {
      width: 40px;
      height: 40px;
      fill: white;
    }

    nav {
      display: none;
      position: absolute;
      background-color: rgb(83, 13, 13);
      right: 10px;
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        li {
          a {
            padding: 10px;
            color: white;
            text-decoration: none;
            font-size: 20px;
          }
        }
      }
    }
  }

  div.navigation:hover nav {
    display: flex;
  }
}
