* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
}

header {
  height: 100px;
  background-color: rgb(83, 13, 13);
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  position: sticky;
  top: 0;
  div.logo {
    svg.burger {
      fill: white;
      width: 55px;
      height: 55px;
    }
  }

  div.navigation {
    position: relative;
    svg.bars {
      width: 40px;
      height: 40px;
      fill: white;
    }

    nav {
      display: none;
      position: absolute;
      background-color: rgb(83, 13, 13);
      right: 10px;
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        li {
          a {
            padding: 10px;
            color: white;
            text-decoration: none;
            font-size: 20px;
          }
        }
      }
    }
  }

  div.navigation:hover nav {
    display: flex;
    animation: identifier 1s ease;
  }
}

div.message {
  width: 60px;
  height: 60px;
  background-color: rgb(83, 13, 13);
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 50px;
}

@keyframes identifier {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

div.message:hover {
  animation: rotate 2s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(360deg);
  }
}

svg.burger:hover {
  animation: rotate 2s ease infinite;
}
